[user]
	email = anthony.halim@live.com
	name = Anthony Halim

[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all

	
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[core]
	editor = vim
[pull]
	rebase = true
